[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ consul_user }}
Group={{ consul_group }}
PermissionsStartOnly=true
ExecStart={{ consul_home }}/bin/consul agent \
{% if consul_dev_mode %}
  -dev
{% else %}
  -config-dir {{ consul_config_dir }} \
  -config-file={{ consul_config_file }}
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
