[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ consul.user }}
Group={{ consul.group }}
PermissionsStartOnly=true
ExecStart={{ consul.home }}/bin/consul agent \
  -config-dir {{ consul.config_dir }} \
  -config-file={{ consul.config_file }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
